* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.sketch-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 1rem;
}

.sketch-nav button {
  padding: 0.2rem 0.5rem;
}